
*{
        margin: 0;
        box-sizing: border-box;
        font-family: 'Lexend', sans-serif;
} 

body{
    background-color: darkblue;
    color: rgb(1, 227, 91);
}

div{
    color:white;
    text-align: left;
    margin-top: 15px;
    margin-right: 4px;
    font-size: 14px;
    text-align:center;
    margin: 100px 100px;
}